:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #afc6a0;
  border-radius: 10px; 
  color: white;
}

.topRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: wheat;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }

.terms {
  text-align: left;
  padding-left: 30px;
}

.about {
  text-align: right;
  padding-right: 30px;
}

.rights {
  text-align: center;
  margin-top: 10px;
}

.nav > a {
  color: magenta
}