h1 {
  align-items: left;
  display: flex;
}

a {
  color: #273f17;
  ;
  align-items: right;
  gap: 2px;
  margin-right: 20px;
}

a:hover {
  background-color: #d8e2dc;
  color: #273f17;
}

a.active {
  background-color: magenta;
  color: white;
  font-weight: bold;
}

nav {
  text-align: right;

}

.logoPicture {
  width: 70px;
  height: auto;
}

.logoContainer {
  border: 1px solid #851010;
  border-radius: 10px;
  padding: 5px;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.searchContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer input {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

nav {
  text-align: right;
}

a {
  color: #53882f;
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  background-color: #d8e2dc;
  color: #273f17;
}

a.active {
  background-color: magenta;
  color: white;
  font-weight: bold;
}



.profilePopup {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  min-width: 150px;
  max-width: 200px
}


.profilePopup button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 16px);
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  background-color: var(--war-green-color);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}


.profilePopup button:hover {
  opacity: 0.9;
}

.editButton {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.editButton:hover {
  background-color: #e0e0e0;
}


.navButton {
  background-color: var(--war-green-color);
  border: 3px solid transparent;
  color: white;
  border-color: transparent;
  margin: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 20px;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}