/* Container for the My Account page */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.content {
  padding: 20px;
}

.infoGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
}

.value {
  font-size: 1rem;
  color: #555;

}


.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #afc6a0;
  color: black;
  font-size: 1rem;
  box-sizing: border-box;
}


.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;

}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--war-green-color);
  color: #273f17;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #98b78a;
}

.Toastify__toast-container {
  font-size: 1rem;
}